.body {
    font-family: 'Lato', sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.5;
    background-color: hsl(0, 0%, 93%);
}

.body--newBackground {
    background-color: hsl(0, 0%, 100%);
}