.main__header {
    color: hsla(0, 74%, 14%, 0.774);
    background-color: hsla(60, 100%, 50%, 0.658);
    padding: 5px;
    text-align: center;
}

.main__photo {
    border-radius: 10%;
    width: 400px;
    box-shadow: 5px 5px 10px hsla(120, 93%, 16%, 0.555);
}

.main__photo--hidden {
    display: none;
}


.main__list {
    list-style: none;
}

.removeHeaderButton {
    color: hsla(0, 74%, 14%, 0.774);
    background-color: hsla(60, 100%, 50%, 0.658);
    font-weight: bold;
    border: none;
    text-align: center;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}

.removeHeaderButton:hover {
    background-color: hsl(80, 61%, 50%);
    border-bottom: 2px;
    outline: none;
}

.changeColorButton {
    color: hsla(0, 74%, 14%, 0.774);
    background-color: hsla(60, 100%, 50%, 0.658);
    font-weight: bold;
    border: none;
    text-align: center;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}

.changeColorButton:hover {
    background-color: hsl(80, 61%, 50%);
    border-bottom: 2px;
    outline: none;
}

.removeImageButton {
    color: hsla(0, 74%, 14%, 0.774);
    background-color: hsla(60, 100%, 50%, 0.658);
    font-weight: bold;
    border: none;
    text-align: center;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}

.removeImageButton:hover {
    background-color: hsl(80, 61%, 50%);
    border-bottom: 2px;
    outline: none;
}