.table {
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
}

.table__caption {
    font-weight: bold;
    padding: 20px;
}

.table__row:nth-child(even) {
    background-color: hsl(0, 0%, 87%);
}


.table__cell {
    border: 1px solid hsl(0, 0%, 80%);
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.table__cell--header {
    background-color: hsl(80, 61%, 50%);
}